<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Patient Information</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Patient Information</h2>
	</div>
	<a class="btn btn-danger btn-sm" href="/home">Retour</a>
	<div class="row">
		<div>
		       <h2>Informations du Patient:</h2>
		       <p>ID: <span th:text="${patientNote.patientId}"></span></p>
		       <p>Prénom: <span th:text="${patientNote.patientFirstName}"></span></p>
		       <p>Nom: <span th:text="${patientNote.patientLastName}"></span></p>
		   </div>
		   <div th:if="${not #lists.isEmpty(patientNote.patientNotes)}">
		           <h2>Notes:</h2>
		           <ul>
		               <!--<li th:each="note : ${patientNote.patientNotes}" th:utext="${note}"></li>-->
					   <li th:each="note : ${patientNote.patientNotes}" th:utext="${#strings.replace(note, '\n', '</br>')}"></li>
		           </ul>
		   </div>
		   <div><!--css="white-space: pre;"-->
		           <h2>Ajouter une nouvelle note:</h2>
		           <form action="#" th:action="@{/note/add/{id}(id=${patientNote.patientId})}" method="post">
		               <textarea name="noteContent" required="required"  rows="10" cols="30" placeholder="Entrez une nouvelle note ici..."></textarea>
		               <button type="submit">Ajouter la note</button>
		           </form> 
		       </div>
		
		

	</div>
	
</div>
</body>
</html>