<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Medilabo </title>
</head>
<body>

<div class="container">



  <h1>Application Medilabo</h1>



  
  <div class="row"><h2>Patient</h2></div>
  	<div class="row">
  		<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
  		<table class="table table-bordered">
  			<thead>
  				<tr>
  					<th>Id</th>
  					<th>Firstname</th>
  					<th>Lastname</th>
  					<th>birthday</th>
  					<th>gender</th>
					<th>address</th>
					<th>phone</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr th:each="patient : ${patients}">
  					<td style="width: 10%" th:text="${patient.id}"></td>
  					<td th:text="${patient.lastName}"></td>
  					<td th:text="${patient.firstName}"></td>
  					<td th:text="${patient.birthday}"></td>
					<td th:text="${patient.gender}"></td>
					<td th:text="${patient.address}"></td>
					<td th:text="${patient.phone}"></td>
  					<td style="width: 15%" class="text-center">
  						<a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
  						<a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>&nbsp;|&nbsp;
						<a th:href="@{/note/note/{id}(id=${patient.id})}">notes</a>
  					</td>
  				</tr>
  			</tbody>
  		</table>
  	</div>


</div>





<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>