<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Medilabo </title>
</head>
<body>

<div class="container">



  <h1>Application Medilabo</h1>
  <div class="container">
  		<form th:action="@{/Logout}" method="post">
			<button class="btn btn-success">Logout</button>
		</form>
  </div>

  <div class="container">
    <a href="home">entrez dans l'application Medilabo</a>
  </div>





<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>